# Gitignore

venv
static
db.sqlite3
__pycache__
*.pyc
.env
ids.txt
toUpload.txt
env/
media/
migrations

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

