{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png"  href="{% static "images/icon.png" %}"/>
  <meta charset="utf-8">
  <title>{% block title %}jefaistesdevoirs{% endblock %}</title>
</head>
<body>
  <!--- BEGINNING OF NAVBAR -->

  <nav class="navbar navbar-inverse" style="border-radius:0px;">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand active" href="{% url 'home' %}">jefaistesdevoirs</a>
          </div>
      <div>
              <ul class="nav navbar-nav">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'home' %}">About</a></li>
                      <li><a href="{% url 'home' %}">Help</a></li>
                      <li><a href="{% url 'home' %}">Contact</a></li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
             <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-cutlery"></span>&nbsp;&nbsp;API</a></li>
             </ul>
       </div>
    </div>
  </nav>

  <!--- END OF NAVBAR -->
  <h1>{% block method_content %}{% endblock method_content %}</h1>
</body>
</html>